<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="gao-cordova-android-speech"
        version="1.0.0">

  <!-- metadata -->
  <name>cordova-android-speech</name>
  <author>Yu-Che-Gao 高宇哲</author>
  <description>cordova調用android語音辨識插件</description>
  <license>Apache 2.0</license>
  <js-module name="androidSpeech" src="www/android-speech.js" >
    <clobbers target="cordova.plugins.androidSpeech" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <!-- config -->
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="androidSpeech">
        <param name="android-package" value="com.gao.cordova.plugin.androidSpeech"/>
      </feature>
    </config-file>
    <!-- source -->
    <source-file src="src/android/androidSpeech.java" target-dir="src/com/gao/cordova/plugin/androidSpeech.java" />
  </platform>
</plugin>