<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="clk-cordova-sample"
        version="1.0.0">

  <!-- metadata -->
  <name>CLK Cordova Sample</name>
  <description>CLK Cordova Sample的說明</description>
  <license>Apache 2.0</license>

  <!-- javascript -->
  <js-module name="NotificationService" src="www/clk.cordova.sample.NotificationService.js" >
    <clobbers target="clk.cordova.sample.NotificationService" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <!-- config -->
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="NotificationService">
        <param name="android-package" value="com.clk.cordova.sample.NotificationService"/>
      </feature>
    </config-file>
    <!-- source -->
    <source-file src="src/android/NotificationService.java" target-dir="src/com/clk/cordova/sample/NotificationService" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <!-- config -->
    <config-file target="config.xml" parent="/*">
      <feature name="NotificationService">
        <param name="ios-package" value="CLKNotificationService"/>
      </feature>
    </config-file>
    <!-- source -->
    <header-file src="src/ios/CLKNotificationService.h" />
    <source-file src="src/ios/CLKNotificationService.m" />
  </platform>

</plugin>